In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv('../data/2.filtered_annotated/tweet_annotated_1000.csv')
df_2 = pd.read_csv('../data/2.filtered_annotated/tweet_5000_annotated.csv')

df_1.shape, df_2.shape

((1025, 8), (1006, 8))

In [9]:
# Pandas merge 2 dataframe
df_merged = pd.concat([df_1, df_2], ignore_index=True)
df_merged.tail()

,annotation_approver,comment_count,created_at,id,label,text,updated_at,user
2026,NaN,0,2022-01-11T11:58:00.843194Z,1005,4,@inderasakti_kl @AkimZone To all the antivax p...,2022-01-11T11:58:00.843194Z,1
2027,NaN,0,2022-01-11T11:58:01.635976Z,1006,4,PPLN Disiplin Karantina Waspada Kasus Omicron ...,2022-01-11T11:58:01.635976Z,1
2028,NaN,0,2022-01-11T11:58:02.578306Z,1007,4,"Sikapi Penyebaran Varian #Omicron, Pemerintah ...",2022-01-11T11:58:02.578306Z,1
2029,NaN,0,2022-01-11T11:58:03.808274Z,1008,4,@nd_mariee Da gua Omicron?,2022-01-11T11:58:03.808274Z,1
2030,NaN,0,2022-01-11T11:58:05.515427Z,1009,4,@sayyidhassmoro Dah vaksin pastu jangkit omicr...,2022-01-11T11:58:05.515427Z,1

In [13]:
df_merged_labeltext = df_merged[["text", "label"]]
df_merged_labeltext.head()

                                                text  label
0  Sibuk liburan luar negeri, pulang2 bawa omicro...      3
1  Cegah Omicron, Wapres : tidak boleh ada diapen...      2
2  @CNNIndonesia Gk tau omicron, gua tau nya unicorn      2
3  @cybsquad_ itukan tugas mereka, hampir semua a...      3
4  kalo gini mana bisa kuliah offline, orang omic...      2

# Label
1 = Positive
2 = Neutral
3 = Negative
4 = Irrelevant

In [14]:
# Drop label with value 4
df_merged_labeltext = df_merged_labeltext[df_merged_labeltext["label"] != 4]
df_merged_labeltext.shape

(1178, 2)

In [15]:
df_merged_labeltext.to_csv('../data/2.filtered_annotated/tweet_annotated_fix.csv', index=False)