In [1]:
import pandas as pd

In [3]:
try:
    data = pd.read_csv('../data/2.filtered-&-annotated/tweet_omicron_filtered_1.csv')
except FileNotFoundError:
    print('File not found')

In [4]:
data_1 = data[:2500]
data_1.tail()

                                                  tweet  label
2495  @CNNIndonesia Kalo nanti kedepannya Omicron me...    NaN
2496  Telangana to keep Omicron data under wraps  ht...    NaN
2497  Varian COVID-19 IHU Terdeteksi di Prancis, Tak...    NaN
2498  Artis Ashanty Positif Covid-19 Varian Omicron ...    NaN
2499                              Iklan Omicron dimulai    NaN

In [5]:
data_1.to_csv('../data/2.filtered-&-annotated/tweet_2500.csv', index=False)

In [6]:
data_2 = data[2500:5000]
data_2.tail()

                                                  tweet  label
4995                 babu meeku omicron ledhaa nanna...    NaN
4996  Antisipasi Varian Omicron, Polda Jatim Laksana...    NaN
4997  Belum Ada Omicron di Tangsel, Pemkot Siapkan L...    NaN
4998  @chairman_GLC Diaorang ni nak mendekatkan diri...    NaN
4999  Belum Ada Omicron di Tangsel, Pemkot Siapkan L...    NaN

In [7]:
data_2.head()

                                                  tweet  label
2500  @CNNIndonesia Mungkin keluarga ini mengendors ...    NaN
2501  Ngaco manehmah, yang bawa eta omicron orang ka...    NaN
2502  @dokterparu Wkwkwkwkw iy... feelingku akan jad...    NaN
2503  Selamat memasuki 2 tahun WFH. Resiko Omicron m...    NaN
2504  Heran, orang² kok pada suka keluarga anang-ash...    NaN

In [8]:
data_2.to_csv('../data/2.filtered-&-annotated/tweet_5000.csv', index=False)